*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    /* display: flex; */
}
@media screen and (max-width:1440px){
    body{
        position: relative;
    }
}
.form{
    width: 50%;
    height: auto;
    color: black;
    font-weight: bolder;
    margin-left: 40%;
}
button{
    background-color: darkgreen;
    color: rgb(166, 139, 139);
    width: 200px;
}
.wap{
    flex-wrap: wrap;
}
@media screen and (max-width:1024px){
    
}